<div class="container" id="footer-container"> <%#made an extra div in the header and footer partials to try and encapsulate the body running into both of them %>
	<footer class="mastfoot">
  	<div class="inner">
    	<p> <%= copyright_generator %></p>
  	</div>
	</footer></p>
</div>